<!-- DOORMAT SECTION -->
<div class="riaf-doormat clearfix" role="navigation" aria-labelledby="riaf-doormat-header-label">
    <div class="riaf-doormat-header riaf-block-header">
        <h2 id="riaf-doormat-header-label">Alles in Mijn ING Zakelijk<span class="riaf-icon riaf-icon-below"></span></h2>
    </div>
    <div class="riaf-doormat-content-left">
        <div class="riaf-doormat-nav-row">
            <div class="riaf-doormat-nav-cell riaf-doormat-nav-cell-static">
                <h3>Overzichten</h3>
                <ul>
                    <li><a href="/zakelijk/betalen/index">Mijn ING overzicht</a></li>
                    <li><a href="/zakelijk/overzichten/saldo-overzicht/index">Saldo betaal- en spaarrekeningen</a></li>
                    <li><a href="/zakelijk/overzichten/af-en-bij-betaalrekeningen/index">Bestedingsruimte</a></li>
                    <li><a href="/zakelijk/sparen/Copy_of_index">Af en bij spaarrekeningen</a></li>
                    <li><a href="/zakelijk/overzichten/af-en-bij-betaalrekeningen/vreemde-valutarekeningen/index">Af en bij vreemde valutarekeningen</a></li>
                    <li><a href="/zakelijk/mijn-berichten/index">Mijn berichten</a></li>
                    <li><a href="/zakelijk/overzichten/ingeplande-opdrachten/index">Ingeplande opdrachten</a></li>
                    <li><a href="/zakelijk/overzichten/geweigerde-opdrachten/index">Geweigerde opdrachten</a></li>
                    <li><a href="/zakelijk/overzichten/afschriften-en-jaaroverzichten/index">Afschriften en overzichten</a></li>
                    <li><a href="/zakelijk/overzichten/facturen/index">Facturen</a></li>
                    <li><a href="/zakelijk/overzichten/download/index">Af- en bijschrijvingen downloaden</a></li>
                    <li><a href="/zakelijk/ing360/index">ING 360</a></li>
                    <li><a href="/zakelijk/overzichten/verzoekenpagina/index">Verzoekenpagina</a></li>
                    <li>Financiering overzicht</li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Betalen</h3>
                <ul>
                    <li><a href="/zakelijk/betalen/overschrijven/index">Overschrijven</a></li>
                    <li><a href="/zakelijk/betalen/overschrijven/buitenland/index">Overschrijven buitenland</a></li>
                    <li><a href="/zakelijk/betalen/spoedbetaling/index">Spoedbetaling</a></li>
                    <li><a href="/zakelijk/betalen/spoedbetaling/buitenland/index">Spoedbetaling buitenland</a></li>
                    <li><a href="/zakelijk/betalen/importeren/verzamelbetaling/index">Verzamelbetaling importeren</a></li>
                    <li><a href="/zakelijk/verzendlijst/index">Verzendlijst</a></li>
                    <li><a href="/zakelijk/zelf-regelen/overzicht/verpakte-stortingen/index">Verpakt storten sealbagkluis</a></li>
                    <li><a href="/zakelijk/zelf-regelen/openen/extra-rekening/index">Extra Zakelijke Rekening openen</a></li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Status betaalopdrachten</h3>
                <ul>
                    <li><a href="/zakelijk/status/spoedopdrachten/index">Status spoedbetalingen</a></li>
                    <li><a href="/zakelijk/status/buitenlandopdrachten/index">Status buitenlandbetalingen</a></li>
                    <li><a href="/zakelijk/betalen/importeren/verzamelbetaling/index">Status verzamelbetalingen</a></li>
                    <li><a href="/zakelijk/betalen/incassos/overzicht">Terugboeken incasso&#39;s</a></li>
                    <li><a href="/zakelijk/betalen/incassos/index-angular">Terugboeken incasso&#39;s Angular</a></li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Sparen</h3>
                <ul>
                    <li><a href="/zakelijk/sparen/meer-over/sparen-bij-de-ing">Spaarrekening openen</a></li>
                    <li><a href="/zakelijk/sparen/Copy_of_index">Spaarsaldo bekijken</a></li>
                    <li><a href="/zakelijk/sparen/spaaropdracht/index">Nieuwe opdracht</a></li>
                    <li><a href="/zakelijk/zelf-regelen/opzeggen/spaarrekening/index">Spaarrekening opzeggen</a></li>
                    <li><a href="/zakelijk/verzendlijst/index">Verzendlijst</a></li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Financiering</h3>
                <ul>
                    <li><a href="/zakelijk/financieren/aanvragen">Financiering aanvragen</a></li>
                    <li><a href="/zakelijk/financieren/overzicht">Financiering overzicht</a></li>
                    <li><a href="/zakelijk/financieren/lease/index">Leasecalculator</a></li>
                </ul>
            </div>
        </div>
        <div class="riaf-doormat-nav-row">
            <div class="riaf-doormat-nav-cell riaf-doormat-nav-cell-static">
                <h3>Klantenservice en contact</h3>
                <ul>
                    <li><a class="riaf-help-element" href="?view=help">Vragen over deze pagina</a></li>
                    <li><a class="riaf-help-element" href="?view=contact">Contact</a></li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>De ING producten</h3>
                <ul>
                    <li><a href="/zakelijk/informatie-en-service/betalen/index">Betalen</a></li>
                    <li><a href="/zakelijk/informatie-en-service/sparen/index">Sparen</a></li>
                    <li><a href="/zakelijk/informatie-en-service/beleggen/index">Beleggen</a></li>
                    <li><a href="/zakelijk/informatie-en-service/financieren/index">Financieren</a></li>
                    <li><a href="/zakelijk/informatie-en-service/verzekeren/index">Verzekeren</a></li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Geld ontvangen</h3>
                <ul>
                    <li>iDEAL aanvragen</li>
                    <li>Incassomachtigen aanvragen</li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Incasseren</h3>
                <ul>
                    <li><a href="/zakelijk/betalen/importeren/incasso/index">Incasso importeren</a></li>
                    <li><a href="/zakelijk/betalen/importeren/incasso/index">Status incasso-opdrachten</a></li>
                    <li><a href="/zakelijk/verzendlijst/index">Verzendlijst</a></li>
                </ul>
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Beleggen</h3>
                <ul>
                    <li><a href="/zakelijk/beleggen/#/" target="_self" class="riaf-link-text">Naar Beleggen</a></li>
                    <li><a href="/zakelijk/beleggen/#/accounts" target="_self" class="riaf-link-text">Beleggingsrekeningen</a></li>
                    <li><a href="/zakelijk/beleggen/#/settings" target="_self" class="riaf-link-text">Instellingen wijzigen</a></li>
                    <li><a href="/zakelijk/beleggen/#/product/choice" target="_self" class="riaf-link-text">Beleggingsrekening openen</a></li>
                    <li><a href="/zakelijk/beleggen/#/close-account" target="_self" class="riaf-link-text">Beleggingsrekening opzeggen</a></li>
                    <li><a href="/zakelijk/speciaal-voor/beleggen-introductie/index">Overeenkomst opties</a></li>
                </ul>
            </div>
        </div>
        <div class="riaf-doormat-nav-row">
            <div class="riaf-doormat-nav-cell riaf-doormat-nav-cell-static">
            </div>
            <div class="riaf-doormat-nav-cell">
                <h3>Adresboek</h3>
                <ul>
                    <li><a href="/zakelijk/adresboek/index">Binnenland</a></li>
                    <li><a href="/zakelijk/adresboek/buitenland/index">Buitenland</a></li>
                    <li><a href="/zakelijk/adresboek/verzamelbetalingen-en-incassos/exporteren/index">Exporteren adresboek verzamelbetalingen en incasso&#39;s</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="riaf-doormat-content-right">
        <div class="riaf-doormat-nav-row">
            <div class="riaf-doormat-nav-cell riaf-doormat-nav-cell-static">
                <h3>Gegevens en instellingen</h3>
                <ul>
                    <li><a href="/zakelijk/zelf-regelen/organisatiegegevens/index">Organisatiegegevens</a></li>
                    <li><a href="/zakelijk/zelf-regelen/bevoegdheden/index">Bevoegdheden</a></li>
                    <li><a href="/zakelijk/zelf-regelen/beheer-mijn-ing-zakelijk/index">Beheer Mijn ING Zakelijk</a></li>
                    <li><a href="/zakelijk/gegevens-en-instellingen/beveiliging/inlogcodes-wijzigen/index">Gebruikersnaam wijzigen</a></li>
                    <li><a href="/zakelijk/gegevens-en-instellingen/beveiliging/inlogcodes-wijzigen/index">Wachtwoord wijzigen</a></li>
                    <li><a href="/zakelijk/gegevens-en-instellingen/beveiliging/tan-codes-en-uw-mobiel/index">TAN- en PAC-codes</a></li>
                    <li><a href="https://www.ing.nl/zakelijk/betalen/verzendfrequentie-afschriften-wijzigen/index.aspx" target="_blank" class="riaf-link-text">Afschriftfrequentie wijzigen</a></li>
                    <li><a href="/zakelijk/gegevens-en-instellingen/mobiel-bankieren/index">Mobiel bankieren</a></li>
                    <li><a href="/zakelijk/zelf-regelen/opzeggen/zakelijke-rekening/index">Zakelijke Rekening opzeggen</a></li>
                    <li><a href="/zakelijk/gegevens-en-instellingen/pasgebruik/index">Betaalpas instellingen wijzigen</a></li>
                    <li><a href="/zakelijk/gegevens-en-instellingen/rekeninginstellingen/index">Voorkeursrekening instellen</a></li>
                    <li><a href="/zakelijk/zelf-regelen/instellen/boekhoudpakket/index">Koppeling Boekhoudpakket</a></li>
                    <li><a href="/zakelijk/gegevens-en-instellingen/cookie-instellingen/index">Cookie-instellingen</a></li>
                    <li><a href="/zakelijk/informatie-en-service/gegevens-en-instellingen/index">Meer gegevens &amp; instellingen</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="riaf-doormat-subheader">
        <h2 id="riaf-doormat-subheader-label">Algemene informatie op ING.nl<span class="riaf-icon riaf-icon-below"></span></h2>
    </div>
    <div class="riaf-doormat-links" role="directory" aria-describedby="riaf-doormat-subheader-label">
        <ul>
            <li><a target="_blank" href="https://www.ing.nl/zakelijk/starters/index.html">Starters</a></li>
            <li><a target="_blank" href="https://www.ing.nl/zakelijk/zzp/index.html">Zelfstandig ondernemers</a></li>
            <li><a target="_blank" href="https://www.ing.nl/zakelijk/mkb-en-ondernemers/index.html">Midden- en kleinbedrijf</a></li>
            <li><a target="_blank" href="https://www.ing.nl/zakelijk/verenigingen-en-stichtingen/index.html">Verenigingen en Stichtingen</a></li>
            <li><a target="_blank" href="https://www.ing.nl/zakelijk/kennis-over-de-economie/index.html">Kennis over de economie</a></li>
        </ul>
    </div>
</div>