<div class="riaf-header-top">

    <a href="#" title="Terug naar Mijn ING Zakelijk Overzicht"><img id="ing-logo" src="img/logo.gif" alt="Terug naar Mijn ING Zakelijk Overzicht" height="32" Width="128"/></a>

    <div class="riaf-header-identification" role="complementary">
        <div class="riaf-header-identification-logout">
            <a href="#" class="riaf-link riaf-link-primary" data-logout="/zakelijk/instellingen/widget/logout" title="Direct veilig uitloggen"><span>Uitloggen</span></a>
        </div>
        <div id="riaf-header-identification-login" class="riaf-header-identification-login riaf-wrapper-secondary" data-error-text="Uw naam en het tijdstip van uw vorige bezoek zijn tijdelijk niet zichtbaar." data-error-linktext="Meer informatie">
            <a class="riaf-linkbutton riaf-js-hide-element" href="/zakelijk/instellingen/widget/identification" title="Inlog informatie">Inlog informatie</a>
        </div>
    </div>

</div>
