<h3 id="riaf-workbench-header">Ondersteuning</h3>
<dl aria-labelledby="riaf-workbench-header">
    <dt class="riaf-workbench-support riaf-workbench-first" role="button">
        <a class="riaf-help-element" href="?view=help"><span class="riaf-icon riaf-icon-link"></span>Kunnen wij u helpen</a>
    </dt>



    <dt aria-expanded="true" id="riaf-workbench-alerting-tab" class="riaf-workbench-alerting riaf-collapsible">
        <a href="#"><span class="riaf-icon"></span><span class="riaf-workbench-subheader">Mijn berichten <strong class="riaf-alerting-messages-number" title="Aantal alerts"></strong></span></a>
    </dt>
    <dd id="riaf-workbench-alerting-tabpanel" class="riaf-workbench-alerting">
        <div class="riaf-workbench-content">
            <div id="riaf-alerting" class="riaf-alerting riaf-wrapper-secondary" role="group" aria-live="polite" data-error-text="Uw berichten zijn tijdelijk niet zichtbaar." data-error-linktext="Meer informatie" data-error-linkurl="/zakelijk/mijn-berichten/index" data-url="/zakelijk/mijn-berichten/widget/alertsummary">
                <a class="riaf-linkbutton riaf-js-hide-element" href="/zakelijk/mijn-berichten/index">Naar al mijn berichten</a>
            </div>
        </div>
        <div class="riaf-workbench-head"></div>
        <div class="riaf-workbench-foot"></div>
    </dd>


    <dt aria-expanded="true" id="riaf-workbench-offers-tab" class="riaf-workbench-offers riaf-collapsible riaf-workbench-last"><a href="#"><span class="riaf-icon"></span>Advies</a></dt>
    <dd class="riaf-workbench-offers">
        <div class="riaf-workbench-content">

            <div id="riaf-workbench-offers-img" class="riaf-workbench-offers-img" data-bm-offerType="CMS" data-bm-bid="888000019-000-w1-3" data-bm-pos=w1-3>
                <a href="/zakelijk/acties/beleggen/beleggen-bij-ing?data-bm-pos=w1-3"><img src="img/post_it_beleggen.gif" /></a>
            </div>
            <p aria-describedby="riaf-workbench-offers-img" class="riaf-workbench-offers-more"><a href="/zakelijk/acties/beleggen/beleggen-bij-ing?data-bm-pos=w1-3" class="riaf-icon">Hoe belegt ú het liefst?</a></p>
            <!-- success -->
            <ul class="riaf-workbench-offers-text">
                <!-- about to dispatch to /dcp/dcp5816_31402.jsp-->

                <li data-bm-offerType="CMS" data-bm-bid="888000016-000-w2-3" data-bm-pos=w2-3><a href="/zakelijk/service/gebruikt-u-de-mobiele-app-voor-uw-prive-rekeningen?data-bm-pos=w2-3" class="riaf-icon">Gebruikt u de mobiele app privé?</a></li>
                <!-- success -->
                <!-- about to dispatch to /dcp/dcp5816_31293.jsp-->

                <li data-bm-offerType="CMS" data-bm-bid="888000015-000-w3-3" data-bm-pos=w3-3><a href="/zakelijk/service/vernieuwd-in-mijn-ing-zakelijk?data-bm-pos=w3-3" class="riaf-icon">Verbeterd: uitgebreid zoeken in Mijn ING</a></li>
                <!-- success -->
            </ul>

        </div>
        <div class="riaf-workbench-foot"></div>
    </dd>
</dl>
<div class="riaf-workbench-left"></div>
<div class="riaf-workbench-right"></div>