<div class="col-lg-12 ">
    <div class="col-lg-offset-1">
        <img src="img/Screenshot_step1.png" style="width: 80%" alt="" role="presentation">
    </div>
</div>
<img src="img/Screenshot_slider.png" style="width: 100%" alt="" role="presentation">
<br/><br/>

<tg-full-cover aria-labelledby="cover3" color="d" arrow="true">
    <div class="row" id="invGoals" >
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 h-text-center">

            <h3 class="heading-l-xxxl h-text-f">Hoe wilt u deze investering voldoen?</h3>
            <h3 class="heading-l-xxxl h-text-f">Volledig gefinancieerd</h3>
        </div>
        </div>
</tg-full-cover>

<br/><br/>
<tg-full-cover aria-labelledby="cover3" color="d" arrow="true">
    <div class="row" id="invGoals2" >
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 h-text-center">

            <h3 class="heading-l-xxxl h-text-f">Verwacht u meer omzet?</h3>
            <h3 class="heading-l-xxxl h-text-f">Ja, 15%</h3>
        </div>
        </div>
</tg-full-cover>

<br/><br/>
<tg-full-cover aria-labelledby="cover3" color="d" arrow="true">
    <div class="row" id="invGoals3" >
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 h-text-center">

            <h3 class="heading-l-xxxl h-text-f">Krijgt u hierdoor meer algemene kosten?</h3>
            <h3 class="heading-l-xxxl h-text-f">Ja, 5%</h3>
        </div>
        </div>
</tg-full-cover>

<br/><br/><br/>

