<ing-application tms-enabled="true">
    <div class="tg container">
        <!--<div ng-controller="headerCtrl">-->
            <h1 class="heading-b-hg">Exact </h1>
            <div ing-navigator name="zRequestLeaseNavigator">
                <div ing-navigator-header=""></div>
                <div ing-navigator-steps="">
                    <div ing-navigator-step="" id="step1" title="Investeringsdoel" template="partials/widgets/step1.html"></div>
                    <div ing-navigator-step="" id="step2" title="Boekhoudpakket koppeling" template="partials/widgets/step2.html" next-label="Next"></div>
                    <div ing-navigator-step="" id="step3" title="Impact" template="partials/widgets/step3.html" next-label="Next" ></div>
                </div>
                <div ing-navigator-footer="" class="l-mt-n3 l-mb-2"></div>
            </div>
        <!--</div>-->
    </div>
</ing-application>
